share/rpn-dtd/pluginDTD.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT rpnplugin (NAME,LIBRARY+)>

<!ELEMENT NAME EMPTY>

<!ELEMENT LIBRARY (CLASS+)>

<!ELEMENT CLASS EMPTY>

<!ATTLIST CLASS name CDATA #REQUIRED>
<!ATTLIST CLASS plugintype CDATA #REQUIRED>
<!ATTLIST CLASS constructormethod CDATA #REQUIRED>


<!ATTLIST NAME id CDATA #REQUIRED>

<!ATTLIST NAME version CDATA #IMPLIED>

<!ATTLIST LIBRARY name CDATA #REQUIRED >




