share/rpn-dtd/rpnDTD.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT rpnconfiguration (PHYSICS+,METHOD*,CURVE*,VIEWINGPARAMS+,AUXVIEWINGPARAMS*,COMMAND*)>
<!--PHYSICS DATA-->
<!ELEMENT PHYSICS (BOUNDARY?,AUXBOUNDARY?,FLUXFUNCTION?)>

<!ATTLIST PHYSICS name CDATA #REQUIRED>

<!ELEMENT BOUNDARY (BOUNDARYPARAM+)>
<!ATTLIST BOUNDARY name CDATA #REQUIRED>

<!ELEMENT AUXBOUNDARY (BOUNDARYPARAM+)>
<!ATTLIST AUXBOUNDARY name CDATA #REQUIRED>

<!ELEMENT BOUNDARYPARAM EMPTY>
<!ATTLIST BOUNDARYPARAM name CDATA #REQUIRED>
<!ATTLIST BOUNDARYPARAM value CDATA #REQUIRED>


<!ELEMENT FLUXFUNCTION (FLUXPARAMS+) >


<!ELEMENT FLUXPARAMS  EMPTY>
<!ATTLIST FLUXPARAMS name CDATA #REQUIRED>
<!ATTLIST FLUXPARAMS position CDATA #REQUIRED>
<!ATTLIST FLUXPARAMS value CDATA #REQUIRED>

<!--NUMERICS DATA-->

<!ELEMENT CURVE (CURVEPARAM+) >
<!ATTLIST CURVE  name CDATA #REQUIRED>

<!ELEMENT CURVEPARAM EMPTY>
<!ATTLIST CURVEPARAM name CDATA #REQUIRED>
<!ATTLIST CURVEPARAM value CDATA #REQUIRED>


<!--METHOD DATA-->

<!ELEMENT METHOD (METHODPARAM*) >
<!ATTLIST METHOD name CDATA #REQUIRED>

<!ELEMENT METHODPARAM EMPTY>
<!ATTLIST METHODPARAM name CDATA #REQUIRED>
<!ATTLIST METHODPARAM value CDATA #REQUIRED>


<!--VIEW DATA-->

<!ELEMENT VIEWINGPARAMS ( PROJDESC+)>
<!ATTLIST VIEWINGPARAMS modeldomain CDATA #IMPLIED>

  <!ELEMENT AUXVIEWINGPARAMS ( PROJDESC+)>
  <!ATTLIST AUXVIEWINGPARAMS modeldomain CDATA #IMPLIED>

<!ELEMENT PROJDESC ( ISO2EQUI_TRANSFORM?)>

    <!ATTLIST PROJDESC projlabel CDATA #REQUIRED>
    <!ATTLIST PROJDESC projaxisid CDATA #REQUIRED>
    <!ATTLIST PROJDESC vpwidth CDATA #REQUIRED>
    <!ATTLIST PROJDESC vpheight CDATA #REQUIRED>

<!ELEMENT ISO2EQUI_TRANSFORM EMPTY>


<!--REAL VECTOR -->

<!ELEMENT REALVECTOR (#PCDATA) >
<!ATTLIST REALVECTOR dimension CDATA #REQUIRED>


<!--COMMAND-->


<!ELEMENT COMMAND (REALVECTOR*) >
<!ATTLIST COMMAND name  CDATA #REQUIRED>


<!--
<!ELEMENT VIEWINGPARAMS (VIEWPORT)>


<!ELEMENT VIEWPORT EMPTY>

    <!ATTLIST VIEWPORT vpwidth CDATA #REQUIRED>
    <!ATTLIST VIEWPORT vpheight CDATA #REQUIRED>
-->



