share/rpn-dtd/rpnDTD.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT rpninterfaceconfig (PHYSICS+, METHOD+, VIEWINGPARAMS+)>
<!--NUMERICS DATA-->
<!ELEMENT PHYSICS (BOUNDARY,FLUXFUNCTION)>

<!ATTLIST PHYSICS name CDATA #REQUIRED>

<!ELEMENT BOUNDARY (REALVECTOR+)>
<!ATTLIST BOUNDARY dimension CDATA #REQUIRED>


<!ELEMENT FLUXFUNCTION (FLUXPARAMS+) >


<!ELEMENT FLUXPARAMS  EMPTY>
<!ATTLIST FLUXPARAMS name CDATA #REQUIRED>
<!ATTLIST FLUXPARAMS position CDATA #REQUIRED>
<!ATTLIST FLUXPARAMS value CDATA #REQUIRED>


<!ELEMENT REALVECTOR (#PCDATA) >
<!ATTLIST REALVECTOR dimension CDATA #REQUIRED>

<!--METHOD DATA-->

<!ELEMENT METHOD (METHODPARAM*) >
<!ATTLIST METHOD name CDATA #REQUIRED>

<!ELEMENT METHODPARAM EMPTY>
<!ATTLIST METHODPARAM name CDATA #REQUIRED>
<!ATTLIST METHODPARAM value CDATA #REQUIRED>


<!--VIEW DATA-->

<!ELEMENT VIEWINGPARAMS ( PROJDESC+)>


<!ELEMENT PROJDESC ( ISO2EQUI_TRANSFORM?)>

    <!ATTLIST PROJDESC projlabel CDATA #REQUIRED>
    <!ATTLIST PROJDESC projaxisid CDATA #REQUIRED>
    <!ATTLIST PROJDESC vpwidth CDATA #REQUIRED>
    <!ATTLIST PROJDESC vpheight CDATA #REQUIRED>

<!ELEMENT ISO2EQUI_TRANSFORM EMPTY>
<!ATTLIST ISO2EQUI_TRANSFORM value (yes | no) "no" >


